.infocard {
	display: block;
	width: 100%;
	height: 250px;
	background-color: white;
}

.container.big-container {
	background-color: #F9FAF0;
}

.row.margin-row:first-child {
  padding-top: 15px;
}

.row.margin-row {
	margin-bottom: 30px;
}

 @media (min-width: 768px){
    .container.big-container {
    max-width: 100%;
}
}

@media (min-width: 576px) { 
	    .container.big-container {
    max-width: 100%;
	
}
}

@media (min-width: 768px) { 
	    .container.big-container {
    max-width: 100%;
	
}
}

@media (min-width: 992px) {
	    .container.big-container {
    max-width: 100%;
}
}

@media (min-width: 1200px) {     
	.container.big-container {
    max-width: 100%; }
}